

table, th, td{
    border: 1px solid #161B33;
    border-collapse: collapse;
}
th{
    font-style: inherit;
    background-color:peru;
    color: white;
}
tr:nth-child(even) {
    background-color:rgb(232, 232, 232);
}
tr:hover{
    background-color: #676767;
    color: white;
}
tr{
    text-align: center;
    color: #161B33;
    background-color: white;
    }
body{
    font-family: Product Sans, Arial, Helvetica, sans-serif;
    background-color:linen;
    color: #161B33;
}
